{{>common/header}}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/java-web/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Sing Up</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <div class="form-floating">
                        <input class="form-control" id="signup-name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="signup-name">Name</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="signup-email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                        <label for="signup-email">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="signup-password" type="password" placeholder="Enter your phone number..." data-sb-validations="required" />
                        <label for="signup-password">Password</label>
                    </div>
                    <br />
                    <button class="btn btn-primary text-uppercase" id="signup-button">sign up</button>
                </div>
            </div>
        </div>
    </div>
</main>
{{>common/footer}}